<!DOCTYPE HTML>
<html>
 <head lang="fr">
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
{% block stylesheets %}{% endblock stylesheets %}
{% block javascripts_head %}{% endblock javascripts_head %}

</head>
<body>
{% block body %}{% endblock body %}
{% block javascripts_body %}{% endblock javascripts_body %}
</body>
</html>