{% extends "TechCorpFrontBundle::layout.html.twig" %}

{% block content %}
<div class='jumbotron'>
 <div class='container'>
  <h1>A propos</h1>
  <p>
   Lorem Ipsum vvhjh bgghgh rererrerer
   erereerereer ezrzrrer rerere
   erere aeazrzrytyt ytytyt twigtyt
   tyttze er rtrttt tr
   trtrtrtrippopo nbjvccbvjb
   erereerereer ezrzrrer rerere
   erere aeazrzrytyt ytytyt twigtyt
   tyttze er rtrttt tr
   trtrtrtrippopo nbjvccbvjb
   vcvc fgrrlk qwcv bnjgfklfkert.
  </p>
 </div>
</div>
{% endblock content%}